@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Playball&display=swap');

* {
    box-sizing: border-box;
}

.calendario {
    border-radius: 10px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}