* {
    box-sizing: border-box;
}

.calendario {
    border-radius: 10px;
    margin: 0 auto;
    border: none !important;
    font-family: 'Lexend Deca' !important;
}

.feito {
    background-color: #8cc654 !important;
    border-radius: 50%;
    background-clip: content-box !important;
    height: 50px;
  }
  
  .nao-feito {
    background: #ea5766 !important;
    border-radius: 50%;
    background-clip: content-box !important;
    height: 50px;
  }